<!DOCTYPE html>
<html lang="vi">
<head>
  {{> head}}
</head>

<body class="min-h-screen bg-slate-100 text-slate-900">
  <div class="min-h-screen flex">
    {{> admin-sidebar}}

    <div class="flex-1 min-w-0">
      {{> admin-header}}

      <main class="p-6">
        {{{body}}}
      </main>
    </div>
  </div>

  {{> scripts}}
  {{> flash}}
</body>
</html>