<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{title}}</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    :root {
      --teal-50: #adffff;
      --teal-100: #00f5f5;
      --teal-200: #00d2d2;
      --teal-300: #00b4b4;
      --teal-400: #009898;
      --teal-500: #007a7a;
      --teal-600: #006060;
      --teal-700: #004949;
      --teal-800: #003434;
      --teal-900: #001f1f;
      --teal-1000: #001818;
      --teal-1100: #000f0f;
    }
  </style>
</head>

<body class="min-h-screen bg-slate-100">
  <main class="flex min-h-screen items-center justify-center px-4 py-10">
    {{{body}}}
  </main>
</body>
</html>