<!DOCTYPE html>
<html lang="vi">
<head>
  {{> head}}
</head>

<body class="min-h-screen bg-slate-50 text-slate-900">
  {{> client-header}}

  <main class="min-h-[calc(100vh-160px)]">
    {{{body}}}
  </main>

  {{> client-footer}}

  {{> scripts}}
  {{> flash}}
</body>
</html>