<!DOCTYPE html>
<html lang="vi">
<head>
  {{> head}}
</head>

<body class="min-h-screen bg-slate-950 text-white">
  <main class="min-h-screen flex items-center justify-center px-4">
    {{{body}}}
  </main>

  {{> scripts}}
</body>
</html>